/*
    Copyright: 2021 David Koňařík
    License: GNU GPL v2 or later, see COPYING for details.
*/

/* VARIABLES */

:root {
	--body-bg-color: #fafafa;
	--content-border: 1px solid #f0f0f0;
	--text-color: #000;

	--link-color: #18617E;
	--link-decoration-color: #18617E;
	--link-focus-bg-color: #F0F0F0;

	--heading-font: sans-serif;
	--heading-color: #353f75;
	--text-font: serif;

	--pre-bg-color: #F8F8F8;

	--transclusion-link-bg-color: #F0F0FF77;
	--header-bg-color: #E0E0E0;
	--footer-bg-color: #E0E0E0;
	--header-line-color: var(--link-color);

	--diff-deletion-bg-color: #EEEE6644;
	--diff-addition-bg-color: #66EEEE44;

	--flash-info-bg-color: #E0E0FF;
	--toc-bg-color: #F8F8F8;

	--max-content-width: 850px;
}

body {
	margin: 0;
}

/* COMMON HTML */

h1,h2,h3,h4,h5,h6 {
	font-family: var(--heading-font);
	color: var(--heading-color);
}

h1 {
	text-align: center;
}

h2 {
	margin-left: 20px;
	font-size: 24pt;
	font-weight: normal;
}

h3,h4,h5,h6 {
	margin-left: 30px;
	font-weight: normal;
	text-transform: uppercase;
}

input, button {
	height: 28px;
	box-sizing: border-box;

	border-style: solid;
	border-width: 1px;
	border-color: #777;
	border-radius: 3px;

	background-color: #FFF;
}

input[type=submit], input[type=button], button {
	background: linear-gradient(#EEE, #CCC);
}

:is(input[type=submit], input[type=button], button):active {
	background: linear-gradient(#CCC, #EEE);
}

input[type=checkbox], input[type=radio] {
	height: unset;
}

a {
	display: inline-block;

	color: var(--link-color);
	text-decoration-style: dotted;
	text-decoration-color: var(--link-decoration-color);
	text-decoration-thickness: 1px;
}

a:hover, a:focus {
	text-decoration-style: solid;
	background-color: var(--link-focus-bg-color);
}

pre {
	overflow-x: auto;
	padding: 10px;
	max-width: var(--max-content-width);
	background-color: var(--pre-bg-color);
}

video {
	max-width: 100%;
}

.moin-showhide {
	margin-left: 10px;
}

.moin-item-wrapper {
	position: relative;
	display: inline-block;
	max-width: 100%;
}

.moin-item-wrapper.left { float: left; }
.moin-item-wrapper.right { float: right; }
.moin-item-wrapper.center { text-align: center; }

.moin-item-wrapper.bottom { vertical-align: bottom; }
.moin-item-wrapper.middle { vertical-align: middle; }
.moin-item-wrapper.top { vertical-align: top; }

a.moin-item-overlay-lr, a.moin-item-overlay-ul {
	font-size: 1.5rem;
	line-height: 20px;
	width: 20px;
	text-align: center;

	color: var(--link-color);
	background-color: var(--transclusion-link-bg-color);
	text-decoration-line: none;

	display: none;
}
a.moin-item-overlay-lr {
	position: absolute;
	top: 0px;
	left: 0px;
}
a.moin-item-overlay-ul {
	position: absolute;
	bottom: 0px;
	right: 0px;
}

.table-wrapper {
	max-width: 100%;
	overflow-x: auto;
}

table {
	border-collapse: collapse;
	border-style: solid;
	border-width: 1px;
	border-color: #777;
}

thead {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #AAA;
}

td {
	padding-left: 5px;
	padding-right: 5px;
}

td.center { text-align: center; }
td.right { text-align: right; }
td.left { text-align: left; }

object[data*="://"] {
	max-width: 100%;
}

/* COMMON MOIN */

.moin-table-of-contents {
	width: 300px;
	float: right;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px;
	
	background-color: var(--toc-bg-color);
}

.moin-table-of-contents ol {
	padding-left: 20px;
}

.tablesorter-header-inner {
	display: inline;
}
.tablesorter-header {
	cursor: pointer;
}
.tablesorter-header::before {
	padding-right: 5px;
	font-family: FontAwesome;
	content: "\f0dc";
}
.tablesorter-header.tablesorter-headerDesc::before { content: "\f0dd"; }
.tablesorter-header.tablesorter-headerAsc::before { content: "\f0de"; }

.moin-diff-removed span {
	background-color: var(--diff-deletion-bg-color);
}
.moin-diff-added span {
	background-color: var(--diff-addition-bg-color);
}

/* <dl>s used for UI purposes */
.moin-form dl {
	display: grid;
	grid-template-columns: 100px 1fr;
	gap: 10px;
	margin: 0;
}
.moin-form dl dt {
	grid-column: 1;
}
.moin-form dl dd {
	grid-column: 2;
}

.moin-form input[type=submit] {
	margin-top: 20px;
}

#popup {
	padding: 0;
	width: 80%;
	position: absolute;
	top: 10em;
	left: 10%;
	display: none;
	z-index: 10;
	border: 1px solid #777777;
	background: #ffffff;
}

.popup-header {
	background-color: var(--header-bg-color);
	padding: 10px;
}

.popup-body {
	padding: 10px;
}

#moin-initials {
	display: flex;
	flex-direction: row;
	column-gap: 10px;
	justify-content: center;
}

.moin-flash {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 5px;
	margin-bottom: 5px;

	border-radius: 3px;

	padding: 10px;
}

.moin-flash-info {
	background-color: var(--flash-info-bg-color);
}

/* BASE */

#moin-main-wrapper {
	display: flex;
	flex-direction: column;

	font-family: var(--text-font);
	color: var(--text-color);
	background-color: var(--body-bg-color);
}


/* HEADER/FOOTER */

:is(header, footer) a {
	text-decoration-line: none;
}
:is(header, footer) :is(a:hover, a:focus) {
	text-decoration-line: underline;
	text-decoration-style: solid;
}


/* HEADER */

header {
	align-self: center;

	display: grid;
	grid-template-columns: auto 1fr auto;
	grid-template-rows: auto auto 1fr auto auto auto;
	grid-template-areas:
		"logo sitename search"
		"logo sitename user"
		"logo sitename ."
		"navibar navibar navibar"
		"itemviews itemviews itemviews";
	grid-row-gap: 5px;

	box-sizing: border-box;
	width: 100%;
	max-width: 900px;
	padding: 10px;
	padding-bottom: 0;

	background-color: var(--header-bg-color);
	border-bottom: 5px solid var(--header-line-color);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

#moin-logo { grid-area: logo; }

#moin-searchform {
	grid-area: search;
	justify-self: end;

	display: grid;
	grid-template-columns: 1fr auto;
	gap: 5px;
}

.moin-sitename {
	grid-area: sitename;
    align-self: center;
    justify-self: center;
	font-size: 24pt;
	font-family: var(--heading-font);
	color: unset;
}

#moin-username, #moin-navibar, header .moin-itemviews {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	column-gap: 10px;

	list-style: none;
	margin: 0;
	padding: 0;
}
#moin-username {
	grid-area: user;
	justify-self: end;
}
#moin-navibar { grid-area: navibar; }
header .moin-itemviews { grid-area: itemviews; }
header .moin-itemviews li a {
	width: 20px;
	text-align: center;
}
header .moin-itemviews li a span {
	display: none;
}

.moin-panel-heading {
	display: none;
}

.moin-breadcrumb {
	grid-area: breadcrumb;

	/*display: flex;*/ display: none;
	flex-direction: row;
	flex-wrap: wrap;

	list-style: none;
	margin: 0;
	padding: 0;
}

@media (max-width: 600px) {
	header {
		grid-template-columns: auto 1fr;
		grid-template-rows: unset;
		grid-template-areas:
			"logo sitename"
			"logo sitename"
			"search search"
			"user user "
			"navibar navibar"
			"itemviews itemviews";
	}

	#moin-username {
		margin-bottom: 10px;
	}
}

/* FOOTER */

footer {
	display: grid;
	grid-template-columns: 1fr auto;
	grid-template-areas:
		"itemviews logo"
		"pageinfo logo"
		"credits logo";
	row-gap: 10px;

	padding: 10px;
	background-color: var(--footer-bg-color);
}
footer a {
	text-decoration-line: none;
}
footer a:hover {
	text-decoration-line: underline;
	text-decoration-style: solid;
}

footer .moin-itemviews {
	grid-area: itemviews;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	column-gap: 10px;

	list-style: none;
	margin: 0;
	padding: 0;
}

#moin-pageinfo {
	grid-area: pageinfo;
	margin: 0;
}

#moin-credits {
	grid-area: credits;
	margin: 0;
}

#moin-creditlogos {
	grid-area: logo;
	margin: 0;
}

@media (max-width: 600px) {
	footer {
		grid-template-columns: auto;
		grid-template-areas:
			"itemviews"
			"pageinfo"
			"credits"
			"logo";
	}
}

/* CONTENT */

#moin-page {
	padding: 10px;
	padding-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	min-width: var(--max-content-width);
	max-width: 100%;
	box-sizing: border-box;

	border-left: var(--content-border);
	border-right: var(--content-border);
	background: #ffffff;
}

#moin-content-data,.moin-watermark {
	max-width: var(--max-content-width);
}

@media (max-width: 700px) {
	#moin-page {
		min-width: unset;
	}
}

/* MODIFY PAGE */

#moin-modify form {
	display: grid;
	grid-template-areas:
		"actions actions"
		"help toggle-font"
		"text text"
		"upload upload"
		"comment comment"
		"meta-heading meta-heading"
		"meta meta"
		"meta-hint meta-hint";
	gap: 10px;
}

#moin-modify div:nth-child(1) {
	grid-area: actions;
}
#moin-modify .moin-edit-help {
	grid-area: help;
}
#moin-modify .moin-textarea-font {
	grid-area: toggle-font;
	justify-self: end;
}
#moin-modify .moin-edit-content, #cke_f_content_form_data_text {
	grid-area: text;
	max-height: 800px;
}
#moin-modify dl:nth-of-type(1) {
	grid-area: comment;
}
#moin-modify dl:nth-of-type(2) {
	grid-area: upload;
}
#moin-modify h2 {
	grid-area: meta-heading;
}
#moin-modify dl:nth-of-type(3) {
	grid-area: meta;
}
#moin-modify .hint {
	grid-area: meta-hint;
}

#moin-modify dl input {
	width: 100%;
}

/* HISTORY PAGE */

.moin-hist-rev {
	/* The checkboxes must be on the same line */
	display: flex;
}

/* SUBITEMS PAGE */

.moin-index-menu {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	column-gap: 20px;
	row-gap: 10px;
	color: var(--link-color);
}

.moin-index-menu p {
	width: 100%;
	color: var(--text-color);
}

.moin-index {
	width: 100%;
}
