/*
    Add the css rules common to all themes here. In general, everything
    within div.moin-content should be defined here and everything within
    the web page header, footer, and sidebars should be defined within the
    "theme.css" files.

    Any theme may have a variables.css file that redefines the colors used within
    div.moin-content. Because IE11 does not support CSS variables; CSS rules defined
    here use redundant properties similar to:

        color: #ff2727; color: var(--error);

    The first color property defines a color IE11 and all other browsers recognize.
    The second color property is ignored by IE11 but all other browsers will use the
    CSS variable value.

    Themes may also override any of the rules defined here by adding rules to the theme.css file.
*/

/* smileys -- <span class="moin-text-icon moin-smile">:-)</span> */
.moin-text-icon { font-size: 0; color: transparent; }
.moin-alert:before { content: url('../img/smileys/alert.png'); }
.moin-angry:before { content: url('../img/smileys/angry.png'); }
.moin-attention:before { content: url('../img/smileys/attention.png'); }
.moin-biggrin:before { content: url('../img/smileys/biggrin.png'); }
.moin-checkmark:before { content: url('../img/smileys/checkmark.png'); }
.moin-devil:before { content: url('../img/smileys/devil.png'); }
.moin-frown:before { content: url('../img/smileys/frown.png'); }
.moin-icon-error:before { content: url('../img/smileys/icon-error.png'); }
.moin-icon-info:before { content: url('../img/smileys/icon-info.png'); }
.moin-idea:before { content: url('../img/smileys/idea.png'); }
.moin-ohwell:before { content: url('../img/smileys/ohwell.png'); }
.moin-prio1:before { content: url('../img/smileys/prio1.png'); }
.moin-prio2:before { content: url('../img/smileys/prio2.png'); }
.moin-prio3:before { content: url('../img/smileys/prio3.png'); }
.moin-redface:before { content: url('../img/smileys/redface.png'); }
.moin-sad:before { content: url('../img/smileys/sad.png'); }
.moin-smile:before { content: url('../img/smileys/smile.png'); }
.moin-smile2:before { content: url('../img/smileys/smile2.png'); }
.moin-smile3:before { content: url('../img/smileys/smile3.png'); }
.moin-smile4:before { content: url('../img/smileys/smile4.png'); }
.moin-star_off:before { content: url('../img/smileys/star_off.png'); }
.moin-star_on:before { content: url('../img/smileys/star_on.png'); }
.moin-thumbs-up:before { content: url('../img/smileys/thumbs-up.png'); }
.moin-tired:before { content: url('../img/smileys/tired.png'); }
.moin-tongue:before { content: url('../img/smileys/tongue.png'); }
/* end of smileys */

/* admonitions  - no moin- prefix added  here, these classes are used within wiki markup:
      Moin wiki: {{{#!wiki caution
      reST: .. caution:: some text
      Docbook: <caution><para>some text</para></caution>

      TODO: create icons for attention, danger, error, and hint.
*/
div.attention:before { content: url("../img/admonitions/important.png"); float: left; padding-right: 1em; }
div.caution:before { content: url("../img/admonitions/caution.png"); float: left; padding-right: 1em; }
div.danger:before { content: url("../img/admonitions/warning.png"); float: left; padding-right: 1em; }
div.error:before { content: url("../img/admonitions/warning.png"); float: left; padding-right: 1em; }
div.hint:before { content: url("../img/admonitions/tip.png"); float: left; padding-right: 1em; }
div.important:before { content: url("../img/admonitions/important.png"); float: left; padding-right: 1em; }
div.note:before { content: url("../img/admonitions/note.png"); float: left; padding-right: 1em; }
div.tip:before { content: url("../img/admonitions/tip.png"); float: left; padding-right: 1em; }
div.warning:before { content: url("../img/admonitions/warning.png"); float: left; padding-right: 1em; }
div.attention,
div.caution,
div.danger,
div.error,
div.hint,
div.important,
div.note,
div.tip,
div.warning { color: #000; color: var(--primary); border: 1px solid #4E7DA9; border: 1px solid var(--border);
    margin: 10px 30px 10px 30px; min-height: 64px; padding: 8px; clear: both; }
div.attention > ol,
div.attention > ul,
div.attention > p,
div.caution > ol,
div.caution > ul,
div.caution > p,
div.danger > ol,
div.danger > ul,
div.danger > p,
div.error > ol,
div.error > ul,
div.error > p,
div.hint > ol,
div.hint > ul,
div.hint > p,
div.important > ol,
div.important > ul,
div.important > p,
div.note > ol,
div.note > ul,
div.note > p,
div.tip > ol,
div.tip > ul,
div.tip > p,
div.warning > ol,
div.warning > ul,
div.warning > p { margin-top: 8px; padding-left: 4em; }
/* end of admonitions */

/* mime type icons */
.moin-www:before,
.moin-http:before,
.moin-https:before { content: url("../img/mime-type/moin-www.png"); margin: 0 .2em; vertical-align: middle; cursor: pointer; }
.moin-file:before,
.moin-ftp:before { content: url("../img/mime-type/moin-ftp.png"); margin: 0 .2em; vertical-align: middle; cursor: pointer; }
.moin-nntp:before,
.moin-news:before { content: url("../img/mime-type/moin-news.png"); margin: 0 .2em; vertical-align: middle; cursor: pointer; }
.moin-telnet:before,
.moin-ssh:before,
.moin-irc:before,
.moin-ircs:before { content: url("../img/mime-type/moin-telnet.png"); margin: 0 .2em; vertical-align: middle; cursor: pointer; }
.moin-mailto:before { content: url("../img/mime-type/moin-email.png"); margin: 0 .2em; vertical-align: middle; cursor: pointer; }
.moin-attachment:before { content: url("../img/mime-type/moin-attach.png"); margin: 0 .2em; vertical-align: middle; cursor: pointer; }
.moin-interwiki:before { content: url("../img/mime-type/moin-inter.png"); margin: 0 .2em; vertical-align: middle; cursor: pointer; }
.moin-action:before { content: url("../img/mime-type/moin-action.png"); margin: 0 .2em; vertical-align: middle; cursor: pointer; }
.moin-mime-text:before { content: url("../img/mime-type/moin-text.png"); margin: 0 .2em; vertical-align: middle; cursor: pointer; }
.moin-mime-image:before { content: url("../img/mime-type/moin-image.png"); margin: 0 .2em; vertical-align: middle; cursor: pointer; }
.moin-mime-audio:before { content: url("../img/mime-type/moin-audio.png"); margin: 0 .2em; vertical-align: middle; cursor: pointer; }
.moin-mime-video:before { content: url("../img/mime-type/moin-video.png"); margin: 0 .2em; vertical-align: middle; cursor: pointer; }
.moin-mime-application:before { content: url("../img/mime-type/moin-application.png"); margin: 0 .2em; vertical-align: middle; cursor: pointer; }
.moin-mime-pdf:before { content: url("../img/mime-type/moin-pdf.png"); margin: 0 .2em; vertical-align: middle; cursor: pointer; }
.moin-mime-package:before { content: url("../img/mime-type/moin-package.png"); margin: 0 .2em; vertical-align: middle; cursor: pointer; }
.moin-mime-drawing:before { content: url("../img/mime-type/moin-drawing.png"); margin: 0 .2em; vertical-align: middle; cursor: pointer; }
/* end of mime type icons */

/* start of userstyles - css clases that are defined for use in wiki markup: {{{#!wiki solid  */
.comment { color: #555; color: var(--comment); background-color: #DDF; background-color: var(--bg-comment); }
.red { background-color: #FCC; background-color: var(--bg-user-red); }
.green { background-color: #CFC; background-color: var(--bg-user-green); }
.blue { background-color: #CCF; background-color: var(--bg-user-blue); }
.yellow { background-color: #FFF29F; background-color: var(--bg-user-yellow); }
.orange { background-color: #FFD59B; background-color: var(--bg-user-orange); }
.gray { background-color: #EEE; background-color: var(--bg-user-gray); }
.grey { background-color: #EEE; background-color: var(--bg-user-gray); }
.code { border: 1px solid #AEBDCC; border: 1px solid var(--border-code); background-color: #F3F5F7; background-color: var(--bg-code);
    padding: 7px 10px; clear: both; margin: .75em 0; white-space: pre-wrap; word-wrap: break-word; word-break: break-all; border-radius: 4px;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace; }
.solid { border: 2px solid #AEBDCC; border: 2px solid var(--border-code); padding: 2px; clear: both; }
.dashed { border: 2px dashed #AEBDCC; border: 2px dashed var(--border-code); padding: 2px; clear: both; }
.dotted { border: 2px dotted #AEBDCC; border: 2px dotted var(--border-code); padding: 2px; clear: both; }
/* position tables and nowiki blocks */
.float-right { float: right; margin-left: 1em; margin-bottom: 1em; }
.float-left { float: left; margin-right: 1em; margin-bottom: 1em; }
.inline { display: inline-block; margin-right: 1em; margin-bottom: 1em; vertical-align: top; }
.middle { display: table; margin-left: auto; margin-right: auto; clear: both; }
.clear-right { clear: right; }
.clear-left { clear: left; }
.clear-both { clear: both; }
/* more css classes defined for use by wiki editors */
.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }
.justify { text-align: justify; }
.monospaced { font-family: monospace; }
.resize { max-width: 100%; height: auto; }
/* end of userstyles */

/* links */
a { text-decoration:none; }
a:link { color: #1409b9; color: var(--link); }
a:visited { color: #1409b9; color: var(--link-visited); }
a:hover { color: #1409b9; color: var(--link-hover); }
a:active { color: #1409b9; color: var(--link-active); }
a.moin-nonexistent:visited,
a.moin-nonexistent { color: #939393; color: var(--disabled); }
/* the rules below may be artifacts that are no longer used */
a.moin-nonexistent:visited img,
a.moin-nonexistent img,
a.moin-nonexistent:visited object,
a.moin-nonexistent object { background: #939393; background: var(--bg-disabled); border: 3px dashed #737373; border: 3px dashed var(--border-disabled); }
/* end of links */

/* misc highlighting */
.moin-error:before { content: url("../img/admonitions/warning.png"); float: left; height: 100%; padding: 0 1em; }
.moin-error { color: #ff2727; color: var(--error); background-color: #F9F9FF; background-color: var(--bg-error);
    border: 1px solid #4E7DA9; border: 1px solid var(--border);
    margin: 10px 30px 10px 30px; min-height: 64px; padding: 8px 8px 8px 8px; clear: both; display: inline-block; }
.moin-highlight { background-color: yellow; background-color: var(--bg-hilite); padding: 1px; }
.moin-showhide { margin-left: 10px; }
.moin-disabled { color: #737373; color: var(--disabled); }
.moin-summary { margin-top: .5em; font-style: italic; }
.moin-icon-macro { color: #ff2727; color: var(--error); }
.moin-p { margin: 1em 0 1em 0; }  /* when we need a div styled like a p */
/* end misc highlighting */

/* create item view */
#moin-create-table {width: 95%; margin-left: auto; margin-right: auto; border:none; }
#moin-create-table tbody tr th { margin:2px; }
#moin-create-table tbody tr td { background: #fff; background: var(--bg-primary); }
#moin-create-table tbody tr > td { padding-left: 2em; background: #fff; background: var(--bg-primary); }
#moin-create-table tbody tr td a { color: #00008b; color: var(--link); }
/* end create item view */

/* position transcluded image or object - the left, center, right rules in userstyles are compatible with the rules below */
.moin-item-wrapper.left { float: left; }
.moin-item-wrapper.center { width: 100%; text-align: center; }
.moin-item-wrapper.right { float: right; }
.moin-item-wrapper.middle { vertical-align: middle; }
.moin-item-wrapper.top { vertical-align: top; }
.moin-item-wrapper.bottom { vertical-align: bottom; }
/* docbook transclusions */
.db-inlinemediaobject.left { float: left; }
.db-inlinemediaobject.center { width: 100%; text-align: center; }
.db-inlinemediaobject.right { float: right; }
.db-inlinemediaobject.middle { vertical-align: middle; }
.db-inlinemediaobject.top { vertical-align: top; }
.db-inlinemediaobject.bottom { vertical-align: bottom; }
/* end of transclusion positioning */

/* transclusion wrapper overlays */
.moin-transclusion { max-width: 100%; }
.moin-item-wrapper { position: relative; display: inline-block; }
div.moin-item-wrapper { /* force bottom border of transcluded headings to extend across entire page */ width: 100%; }
div.moin-item-wrapper,
div.moin-item-wrapper > div,
div.moin-item-wrapper > div > p:first-child,
div.moin-item-wrapper > div > p:last-child { margin: 0; }
div.moin-item-wrapper > div > p:first-child ~ p:last-child { margin-top: 1em; }
a.moin-item-overlay-ul:link,
a.moin-item-overlay-ul:visited,
a.moin-item-overlay-ul:active,
a.moin-item-overlay-lr:link,
a.moin-item-overlay-lr:visited,
a.moin-item-overlay-lr:active { color: transparent; }
.moin-item-overlay-ul,
.moin-item-overlay-lr { display: none; position: absolute; color: transparent; background-color: transparent;
    font-size: 1.2em; font-weight: bold; margin: 0; opacity: .5; padding: 1px; border-color: #428bca; border-color: var(--overlay);
    border-style: double; }
.moin-item-overlay-ul { top: -4px; left: -4px; border-width: 3px 0 0 3px; }
.moin-item-overlay-lr { bottom: -4px; right: -4px; border-width: 0 3px 3px 0; }
a.moin-item-overlay-ul:hover,
a.moin-item-overlay-ul:hover ~ a.moin-item-overlay-lr,
a.moin-item-overlay-lr:hover { opacity: .8; background-color: #e1edf7; background-color: var(--bg-trans-hover);
    color: #428bca; color: var(--overlay); text-decoration: none; }
/* end transclusion wrapper overlays */

/* diffs */
.moin-diff { width: 100%; table-layout: fixed; }
.moin-diff-header { vertical-align: top; font-size: 92%; }
.moin-diff-info { margin: .33em .25em; }
.moin-diff-info-value { white-space: normal; }
.moin-diff-info-caption { display: inline-block; min-width: 5em; }
.moin-diff-revision-caption { text-align: center; font-weight: bold; font-size: 1.25em; padding-bottom: 5px; }
.moin-diff-revision-caption i { padding: 0 6px; }
.moin-diff-line-number { background-color: #c0c0c0; background-color: var(--bg-diff); }
.moin-diff-added { background-color: #e0ffe0; background-color: var(--bg-diff-added); vertical-align: top; width: 50%;
    white-space: pre-wrap; word-wrap: break-word; font-family: monospace; }
.moin-diff-added span { background-color: #80ff80; background-color: var(--bg-diff-added-text); }
.moin-diff-removed { background-color: #ffffe0; background-color: var(--bg-diff-removed-text); vertical-align: top; width: 50%;
    white-space: pre-wrap; word-wrap: break-word; font-family: monospace; }
.moin-diff-removed span { background-color: #ffff80; background-color: var(--bg-diff-removed); }
.moin-diff-highlight { background-color: #ffffc0; background-color: var(--bg-diff-hilite); }
.moin-diff-revert { clear: both; float: right; margin: 1em 0; }
/* end diffs */

/* search  */
.moin-search-option-bar { font-size: 1.25em; font-weight: bold; cursor: pointer; color: #1409B9; color: var(--link); }
.moin-search-meta { color: #444; color: var(--muted); }
.moin-search-hit-info { display: inline; }
.moin-search-hits { font-weight: bold; }
.moin-searchoptions > table { table-layout: fixed; }
.moin-searchoptions > table > tbody > tr > th { padding: 5px; text-decoration: underline; }
.moin-searchoptions > table > tbody > tr > td { vertical-align: top; padding-right: 20px; width: 20%; }
.moin-search-results p { font-size: .85em; }
.moin-search-results td { border-width: 0; }
.moin-search-results .moin-search-hit-info { margin-top: 0; display: inline; }
.moin-search-results .moin-found-text { margin-top: 0; }
#moin-searchform { margin: 2px 12px 0 0; padding: 0; font-size: .82em; float: right; text-align: right; width: 15em; }
#moin-searchform div.moin-float-fix { display: inline; }
#moin-search-submit { text-indent: -9000%; margin-left: -26px; width: 20px; height: 16px;
    background: url("../img/icons/moin-search.png") center center no-repeat; background-size: 16px 16px; border: none;
    overflow: hidden; vertical-align: middle; cursor: pointer; padding: 0; box-shadow: none; }
.moin-search-query { padding-right: 20px; font-size: 100%; vertical-align: middle; color:#000; color: var(--font_color);
    background-color: #fff; background-color: var(--page_color); border: 1px solid #4e7da9; border: var(--border_style);
    border-radius: 5px; }
#moin-long-searchform { padding: 0; font-size: 1em; text-align: left; }
#moin-long-searchform div { margin: 0; }
#moin-long-searchform .moin-search-query { width: 90%; margin-left: 0; }
.moin-suggestions { font-weight: bold; }
.moin-suggestion-terms { font-size: .85em; font-weight: normal; color: #444; color: var(--muted); }

/* misc moin css keywords */
.moin-wordbreak { word-break: break-all; word-wrap: break-word; }
.hidden { display: none; visibility: hidden; }
.moin-integer { text-align: right; padding-right: 1em; }
.moin-big { font-size: 1.17em; }
.moin-bigger { font-size: 1.5em; }
.moin-small { font-size: .83em; }
.moin-tiny { font-size: .5em; vertical-align: middle; }
.moin-inline-label { display: inline; }
.moin-link-list li { padding: 2px 0 2px 0; }

/* item ACL report */
.moin-acl-report { width: 100%; border-collapse: collapse; }
.moin-acl-heading > div { border: 1px solid #4e7da9; border: 1px solid var(--border); background-color: #C9E2F8; background-color: var(--bg-heading);
    text-align: left; color: #000; color: var(--primary); padding: .3em .4em; vertical-align: middle; font-weight: bold; width: 50%; }
.moin-acl-name-cell { border: 1px solid #4e7da9; border: 1px solid var(--border); vertical-align: top; position:relative;
    padding: .3em .4em; word-break: break-all; }
.moin-acl-name-cell > input { position:absolute; bottom: 0; right: 0; }
.moin-acl-rule-cell { border: 1px solid #4e7da9; border: 1px solid var(--border); }
.moin-acl-rule-cell textarea { border: 0; min-height: 3em; }
.moin-acl-default .moin-acl-string { color: #444; color: var(--muted); background-color: #F3F5F7; background-color: var(--bg-code);}
.moin-acl-rule-cell .moin-acl-edit-disable { color: #ccc; color: var(--disabled); }
.moin-acl-string { padding: .3em .4em; width: 100%; word-wrap: break-word; }
.moin-acl-count { float: right; font-weight: bold; }

/* tablesorter  - adding a moin-sortable class to a table enables JS sorting of table columns */
.tablesorter-header { background-image: url('../img/bg.png'); background-repeat: no-repeat; background-position: left center; }
.tablesorter-header.tablesorter-headerAsc { background-image: url('../img/asc.png'); }
.tablesorter-header.tablesorter-headerDesc { background-image: url('../img/desc.png'); }
.tablesorter-header.sorter-false { background-image: None; }
.tablesorter-header-inner { padding-left: 10px; cursor: pointer; }
.sorter-false > .tablesorter-header-inner { padding-left: 0; }

/* tickets */
.moin-existing-tags { display: inline; }
.moin-ticket-create-link,
.moin-ticket-search { display: inline; float: right; }
#ticket-table-tip { color: #4e7da9; color: var(--border); }
#ticket-summary { width: 50%; }
.moin-ticket-tags { border-bottom: none; clear: both; }
.moin-ticketsearch-form { display: inline; }
#moin-ticketsearch-query { background-image: url("../../../static/img/search.png"); background-repeat: no-repeat; background-position: 5px;
    padding-left: 24px; width: 150px; margin-left: 7px; }
.moin-ticket-tags { margin-top: 1em; display: none; }
#ticket-list tr td:first-child a { font-family: monospace; }

/* tags tab */
ul.moin-tags { display: block; margin-left: 0; }
ul.moin-tags > li { padding: 5px 0 5px 0; display: inline-block; text-align: center; width: 300px; }
ul.moin-tags li.weight0 { font-size: 100%; }
ul.moin-tags li.weight1 { font-size: 120%; }
ul.moin-tags li.weight2 { font-size: 140%; }
ul.moin-tags li.weight3 { font-size: 160%; }
ul.moin-tags li.weight4 { font-size: 180%; }
ul.moin-tags li.weight5 { font-size: 200%; }
ul.moin-tags li.weight6 { font-size: 220%; }
ul.moin-tags li.weight7 { font-size: 240%; }
ul.moin-tags li.weight8 { font-size: 260%; }
ul.moin-tags li.weight9 { font-size: 280%; }

/* footnotes */
.moin-footnotes { border-top: 1px solid gray; border-top: 1px solid var(--border-footnotes); margin: 2em; }
.moin-footnotes p { margin: 1em; }

/* moin default table styling */
table { margin: 1% 0; }
caption { border: 1px solid #4e7da9; border: 1px solid var(--border); border-bottom: 0;
    background-color: #C9E2F8; background-color: var(--bg-heading); font-size: 1.25em; font-weight: bold; }
tr > th,
tr > td { padding: .3em .4em; vertical-align: middle; text-align: left; }
thead > tr > td,
tr > th { border: 1px solid #4e7da9; border: 1px solid var(--border); background-color: #C9E2F8; background-color: var(--bg-heading);
    text-align: left; color: #000; color: var(--primary); }
tr > td { border: 1px solid #4e7da9; border: 1px solid var(--border); }
td p { margin: 0; padding: 0; }
#moin-content table > thead { background-color: #C9E2F8; background-color: var(--bg-heading); }
#moin-content table > tfoot { background-color: #C9E2F8; background-color: var(--bg-heading); }
.moin-thead { background-color: #C9E2F8; background-color: var(--bg-heading); } /* creole table headings in left column */

/* alternate table and admonition styling with no borders */
div.no-borders,
.no-borders,
.no-borders caption,
.no-borders th,
.no-borders td { border-width: 0; }

/* zebra table styling */

.zebra td form input { box-shadow: none; }
.zebra tbody tr:nth-child(even),
.zebra > tr:nth-child(odd) { background-color: #EEE; background-color: var(--bg-zebra); }

/* footers */
#moin-footer { clear: both; margin: 0 0; width: 100%; }
#moin-pageinfo,
#moin-wiki-license,
#moin-credits,
#moin-version,
#moin-timings { margin: 10px 20px; text-align: left; font-size: .7em; color: #444; color: var(--muted); float: left; clear: left; }
#moin-creditlogos { clear: both; float: right; }

/* ordered lists */
ol,
ul { margin-top: .5em; margin-bottom: .5em; }
li p { margin: .25em 0; }
ol.moin-upperalpha-list { list-style-type: upper-alpha; }
ol.moin-loweralpha-list { list-style-type: lower-alpha; }
ol.moin-upperroman-list { list-style-type: upper-roman; }
ol.moin-lowerroman-list { list-style-type: lower-roman; }
ul.moin-nobullet-list { list-style-type: none; }
li ol,
li ul { margin-top: .25em; }

/* definition lists  and blockquotes */
dt { margin-top: .5em; font-weight: bold; }
dl > dd { font-size: .92em; margin-left: 3em; margin-top: 0; margin-bottom: 0; }
dd { margin: .25em 0; }
dd + dd { margin-top: .67em; }
blockquote { padding-left: 2em; font-size: .92em; }
blockquote blockquote { font-size: 1em; }
ul blockquote { padding-left: 0; font-size: 1em; }
li > p { margin-top: 0; margin-bottom: 0; }
.moin-rst-attribution { font-style: italic; }
.moin-rst-attribution:before { content: "--"; }

/* reST line-blocks */
.moin-line-block { margin-left: 2em; }
.moin-line-blk:empty { min-height: 1em; }

/* horizontal rules */
hr { height: 1px; background-color: #4e7da9; background-color: var(--border); border: 0; margin: .9em 0; }
.moin-hr1 { height: 2px; }
.moin-hr2 { height: 3px; }
.moin-hr3 { height: 5px; }
.moin-hr4 { height: 7px; }
.moin-hr5 { height: 9px; }
.moin-hr6 { height: 12px; }

/* headings */
h1 { font-size: 2em; margin: .67em 0; border-bottom: 5px solid #4e7da9; border-bottom: 5px solid var(--border); padding-bottom: 5px; }
h2 { font-size: 1.5em; margin: .75em 0; padding-bottom: 4px; }
h3 { font-size: 1.17em; margin: .83em 0; padding-bottom: 3px; }
h4 { margin: 1.12em 0; padding-bottom: 2px; }
h5 { font-size: .83em; margin: 1.5em 0; padding-bottom: 2px; }
h6 { font-size: .75em; margin: 1.67em 0; padding-bottom: 2px; }
h2,
h3,
h4,
h5,
h6 { border-bottom: 3px solid #4e7da9; border-bottom: 3px solid var(--border); }

/* heading permalinks */
.moin-permalink { opacity: .2; padding-left: .3em; }
/* link = foc1; paragraph = f1dd; eject = fo52; */
.moin-permalink:after { content: "\f0c1"; font-family: FontAwesome; }

/* buttons */

a.moin-button:link,
a.moin-button:visited,
a.moin-button:hover,
a.moin-button:active { color: #000; color: var(--primary); text-decoration: none; }
.moin-button { background: #aed4fa; background: var(--bg-button); border: 1px solid #00417F; border: 1px solid var(--border-button);
    border-radius: 6px; cursor: pointer; font-size: 0.75em; font-weight: bold; padding: 4px 15px; margin: .3em; display: inline-block; }
.moin-button.moin-button-disabled { background: #ccc; background: var(--bg-disabled); }
.moin-button:hover,
.moin-button:focus { box-shadow: 2px 2px 1px #000; box-shadow: 2px 2px 1px var(--border-button-hover); outline: none; }
.moin-button:active {background: #00417f; background: var(--bg-button-active); color: #fff; color: var(--inverse); }
/* was bg-color2 DDD */
input.moin-button:disabled { color: #666; color: var(--disabled); background: #DDD; background: var(--bg-disabled); }
input.moin-button:disabled:hover { box-shadow: none; }
.moin-button-less { border: 0px; background: inherit; color: #1409b9; color: var(--link); }

/* pre */
pre { border: 1px solid #AEBDCC; border: 1px solid var(--border-code); background-color: #F3F5F7; background-color: var(--bg-code);
    padding: 7px 10px; clear: both; margin: .75em 0; white-space: pre-wrap; word-wrap: break-word; word-break: break-all; border-radius: 4px;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace; }

/* table of contents (div.toc is for markdown parser) */
div.moin-table-of-contents,
div.toc { border: 1px solid #4e7da9; border: 1px solid var(--border); color: #000; color: var(--primary);
    background: #fff; background: var(--bg-primary); font-size: 80%; margin: .5em 0 .75em 1em;
    padding: .5em .75em .5em .5em; text-indent: -1em; max-width: 35%; text-align: left; float: right;
    clear: both; box-shadow: 3px 3px 6px #9d9d9b; border-radius: 15px; }
div.moin-table-of-contents ol,
div.toc ul { margin: 0; padding: 0 0 0 .92em; }
div.moin-table-of-contents li,
div.toc li { margin: .12em 0 0 0; padding: 0; list-style: none; }
div.moin-table-of-contents-heading { font-weight: bold; padding: 0; margin: 0 0 .5em 1em; letter-spacing: .075em; }

/* docbook captions for video and audio */
div.db-mediaobject > span,
div.db-mediaobject > span > span.moin-item-wrapper,
div.db-mediaobject > span > span.db.caption { display: block; text-align: center; }
span.db-inlinemediaobject span.db-caption { display: none; } /* inline captions are ugly */

/* Global Index */
.moin-index { width: 100%; }
.moin-index-icons { width: 4em; }
.moin-index tr th { text-align: center; }
.moin-clr { clear: both; }
.moin-index-menu { margin-bottom: 1em; }
.moin-index-menu li { display: inline-block; }
.moin-select-allitem { display: inline-block; cursor: default; text-align: left; }
.moin-download-link { display: none; }
.moin-contenttype-selection { margin: .5em 0; }
.moin-contenttype-selection div { cursor: pointer; margin: 0 0 .5em 0; padding: .5em 1.2em .5em .5em; height: 1em; text-align: center; }

.moin-contenttype-selection form { z-index: 2; background: #fff; background: var(--bg-primary);
    border: 3px solid #4e7da9; border: 3px solid var(--border); padding: .2em; border-radius: 7px; }
.moin-contenttype-selection ul li { list-style-type: none; }
.moin-contenttype-selection ul li label { display: inline; vertical-align: middle; font-size: 1.25em; }
.moin-contenttype-selection ul li .helper-text { margin-left: 1em; font-size: .85em; color: #444; color: var(--muted); }
.moin-contenttype-selection form input[type="submit"] { font-size: .9em; }
.moin-filter-toggle { margin: .5em 2em; font-size: 90%; }
.moin-index-path { margin-left: .5em; margin-top: 2em; font-size: 1.33em; }
.moin-path-separator { font-size: 120%; color: #000; color: var(--primary); }
.moin-index-separator { clear: both; border-top: 3px solid #4e7da9; border-top: 3px solid var(--border);
    width: 99%; margin-left: .5%; margin-bottom: 1.5em; display: none; }

.moin-namespace-selection { background: #fff; background: var(--bg-primary); border-radius: 7px;
    border: 3px solid #4e7da9; border: 3px solid var(--border); padding: .2em; }
.moin-namespace-selection ul li { list-style-type: none; font-size: 1.25em; }
.moin-newitem-toggle,
.moin-ns-toggle,
.moin-ct-toggle { color: #000; color: var(--primary); }
#moin-newitem { width: 50%; }
.moin-new-item { margin-left: 1em; }
.moin-newitem-selection { background: #fff; background: var(--bg-primary); border-radius: 7px;
    border: 3px solid #4e7da9; border: 3px solid var(--border); padding: .2em; }
#moin-initials { width: 90%; margin: 1em auto 1em auto; text-align: center; }
#moin-initials a { display: inline-block; margin: 2px 1px; padding: 4px 5px; }
#moin-initials a.selected { background: #00008b; background: var(--bg-inverse); border-radius: 5px;
    color: #fff; color: var(--inverse); text-decoration: none; }
.moin-align-right { text-align: right; float: right; }
.moin-align-right ul { margin: 0; padding: 0; }
.moin-align-right ul li.action-bar { list-style-type: none; display: inline-block; }

p.moin-selected-groups { font-size: 1.25em; font-weight: bold; }
li.moin-selected-groups { font-size: 1em; font-weight: bold; }

#popup { padding: 0; width: 80%; position: absolute; top: 10em; left: 10%; display: none; z-index: 10;
    border: 3px solid #00417f; border: 3px solid var(--border-popup); }
.popup-header { background: #00417f; background: var(--bg-popup-header); color: #fff; color: var(--inverse);
    font-size: 1.25em; padding: 10px; margin: 0; font-weight: bold; }
.popup-closer.popup-cancel { background-color: red; background-color: var(--bg-close); color: #fff; color: var(--inverse);
    font-size: 1em; padding: 1px 4px; margin: 0; float: right; cursor: pointer; border: none; border-radius: 0; }
.popup-body { clear: both; background: #fff; background: var(--bg-primary); color: #000; color: var(--primary); padding: 10px; margin: 0; }
.popup-comment { margin-bottom: 1em; }
.popup-body input[type="text"] { width: 96%; }
.popup-container { margin: 0; }
.popup-names { font-weight: bold; }
#lightbox { background: #fff; background: var(--bg-primary); opacity: .7; position: absolute; left: 0; top: 0;
    width: 100%; height: 100%; z-index: 9; margin: 0; display: none; }

/* file upload on global index */

.jfu-file { background: linear-gradient(to right, #C9E2F8 50%, transparent 50%); background-size: 200% 100%;
   background-position: right bottom; transition:all 1s ease; padding: 1em; }
.jfu-file.jfu-failed { background: linear-gradient(to right, #FCC 100%, transparent 100%); }
.jfu-file b { display: inline-block; padding: 5px; color: black; }
.jfu-bar { margin-top: 1em; font-weight: bold; background: #C9E2F8; }
#jfu-fileupload { margin-left: 1em; }

/* Forms - User Settings, rename, delete, destroy, register, diff... */

.moin-tabs .moin-tab-titles a { color: #00008b; color: var(--link); }
.moin-tab-titles { margin: 0; list-style: none; border-bottom: 3px solid #4e7da9; border-bottom: 3px solid var(--border); }
.moin-tab-titles li { display: inline-block; margin: 10px 0 -3px; padding: 0 5px;
    border-bottom: 3px solid #4e7da9; border-bottom: 3px solid var(--border); }
.moin-tab-titles a { display: inline-block; padding: 4px; background-color: #eef1f6; background-color: var(--bg-tabs);
    border-width: 1px 1px 0; border-style: solid;
    border-color: #4e7da9; border-color: var(--border); color: #00008b; color: var(--link); border-top-left-radius: 7px;
    border-top-right-radius: 7px; }
.moin-tab-titles a:hover { background-color: #d8dfe9; background-color: var(--bg-selected); text-decoration: none; }
.moin-tab-titles a.moin-current-tab { background-color: #d8dfe9; background-color: var(--bg-selected);
    padding-top: 8px; margin-top: -4px; }
.moin-tab-titles .moin-change-indicator { font-weight: bold; color: #1f9ae0; color: var(--hilite); }
.moin-current-form h2 { display: none; }
.moin-settings-head a { color: #000; color: var(--primary); text-decoration: none; }
.moin-subitem-list { font-size: 1.25em; color: red; color: var(--alert); }

.moin-form dd { float: left; width: 70%; margin: .3em 0 .3em 0; }
.moin-form dd input { width: 75%; }
.moin-form dd select { width: 76%; }
.moin-form dt { clear: both; float: left; width: 25%; text-align: right; margin-top: .3em; padding-right: 1em; }
.moin-form dt label.required:after { content: '*'; color: #000; color: var(--primary); }
.moin-form button,
.moin-form input[type="submit"] { clear: both; display: block; margin: auto; }
.moin-form dl  { margin-bottom: 2em; }
.moin-float-fix { clear: both; padding-top: .75em; }
.moin-form  input[type="submit"].moin-modify-submit,
.moin-form .moin-load-draft,
.moin-form .moin-cancel { display: inline; clear: none; float: left; margin-right: 3em; margin-bottom: 1em; }
.moin-form .moin-load-draft { border: 1px solid red; border: 1px solid var(--alert);
    background-color: #fee; background-color: var(--bg-message); }
.moin-watermark { background-image: url("../../../static/img/draft.png");
    border: 1px solid #4e7da9; border: 1px solid var(--border); }

.moin-form dd.moin-radio { line-height: 1.5em}
.moin-form .moin-radio input { width: 1em; }

#options dd { width: 10%; }
#options dt { width: 60%; max-width: 40em; }
#subscriptions textarea,
#quicklinks textarea { height: 12em; width: 80%; max-width: 60em; margin-bottom: 1em; }
#subscriptions div.tip,
#quicklinks div.tip { width: 80%; max-width: 60em; margin: auto; }

/* Global history */

#moin-global-history { font-size: 87%; width: 100%; margin: 0; }
.moin-history-day-banner { background-color: #C9E2F8; background-color: var(--bg-heading);
    color: #000; color: var(--primary); }
.moin-history-day-banner a.moin-bookmark-link { margin-left: 20px; color: blue; color: var(--link); font-weight: bold; }
.moin-history-date { font-size: 125%; font-weight: bold; }
.moin-history-time { text-align: right; width: 6em; }
.moin-history-action { width: .5em; cursor: default; }
.moin-history-action a:hover { text-decoration: none; }
.moin-history-links { width: 1em; text-align: center; }
.moin-history-end-of-day { border: 0; border-top: 2px solid #4e7da9; border-top: 2px solid var(--border); }
.moin-nameless-item,
.moin-history-name-old { font-style: italic; }
.moin-history-name-old:hover { cursor: pointer; }

/* item history */

#moin-page-history > table { width: 100%; }
#moin-page-history > table > body { font-size: .87em; }
.moin-button-diff { text-align: center; }
.moin-hist-rev { text-align: center; vertical-align: middle; }
.moin-hist-rev > input,
.moin-hist-rev > span { cursor: pointer; }
.moin-offset-links { width: 100%; text-align:center; }
.moin-next-page { float: right; }
.moin-prior-page { float: left; }
.moin-page-num { display: inline-block; font-weight: bold; }
.moin-offset-links a { padding: 3px 7px; margin-bottom: 4px; font-size: 1.25em; background: #fff; background: var(--bg-primary);
    border: 1px solid #4e7da9; border: 1px solid var(--border); border-radius: 5px; }
.moin-offset-links a:hover { box-shadow: 2px 2px 1px #9d9d9b; }

/* mychanges */

.moin-mychanges > table { width: 100%; }

/* +admin/user */

.moin-namespaces > li { color: #444; color: var(--muted); }

/* show wikiconfig and wikiconfighelp */

.moin-show-wikiconfig td { vertical-align: top; }
.moin-wikiconfighelp i.fa { color: blue; color: var(--link); }
.moin-wikiconfighelp i.fa:hover { cursor: pointer; }
.moin-wikiconfighelp table { width: 100%; }

/* reST figures */

.moin-figure { text-align: center; }
figcaption { font-weight: bold; }

/* moin-flash */
.moin-flash { background-color: #fee; background-color: var(--bg-message); border: 1px solid red; border: 1px solid var(--alert);
    padding: 1em; margin-top: .5em; border-radius: 5px; position: relative; }
/* \f2d3 below is fontawesome fa-window-close */
.moin-flash:after { content: "\f2d3"; font-family: FontAwesome; color: red; color: var(--alert); position: absolute; top: -1px; right: 0px; }
.moin-flash-hint:before { content: url("../img/smileys/idea.png"); padding-right: 1em; }
.moin-flash-info:before { content: url("../img/smileys/icon-info.png"); padding-right: 1em; }
.moin-flash-warning:before { content: url("../img/smileys/alert.png"); padding-right: 1em; }
.moin-flash-error:before { content: url("../img/smileys/icon-error.png"); padding-right: 1em; }

/* +modify template */
#moin-modify dd { width: 100%; float: none; }
#moin-modify dd input { width: 99%; }
#moin-modify dt { width: auto; text-align: left; }
#moin-modify textarea { width: 99.5%; }
#moin-modify input[type="submit"] { margin-left: 0; }
.moin-fixed-width { font-family: Inconsolata, Consolas, "DejaVu Sans Mono", "Courier New", courier; }
.moin-edit-no-help { float: right; border: 1px solid #00417F; border: 1px solid var(--border-button); border-radius: 6px; cursor: pointer;
    font-size: 0.75em; font-weight: bold; padding: 4px 15px; margin: .3em; }
.moin-edit-no-help:before { content: url("../img/smileys/icon-info.png"); padding-right: 1em; }
.moin-autosize { min-height: 10em; }
.moin-edit-help { float: right; }
.moin-edit-help a { color: #000; color: var(--primary); }
/* ckeditor hides textarea, this prevents editor help link overlaying ckeditor controls */
#cke_f_content_form_data_text { clear: both; }

/* revision navigation on show, highlight, and meta views */
.moin-revert { text-align: center; }
.moin-rev-navigation-current { font-size: 1.25em; font-weight: bold; }
.moin-rev-navigation-older,
.moin-rev-navigation-newer {padding: 0 20px 0 20px; }
ul#moin-rev-navigation li { display: inline; }
ul#moin-rev-navigation { text-align: center; background-color: #EEE; background-color: var(--bg-zebra); }
@media (max-width: 1500px) {
    ul#moin-rev-navigation li { display: block; text-align: center; }
}

/* reST field lists and option lists*/

.moin-rst-optionlist,
.moin-rst-fieldlist { margin-left: 2em; }
.moin-rst-optionlist td,
.moin-rst-fieldlist td { border-width: 0; }
.moin-rst-optionlist td:first-child,
.moin-rst-fieldlist td:first-child { font-weight: bold; }

@media print {
    .moin-no-print { display: none; }
}
